.btn-info {
  background-color:#6fb38f ;
  border-color: #6fb38f;


}
.btn-info:hover {
    background-color: #6a8caf;
    border-color: #6a8caf;

  }
.container-show {
  text-align: left;
  margin-left: 50px;
}

a{
  padding: 0;
  color: #6fb38f;
  text-align: left;
}

